.button {
	background-color: $orange;
	padding-left: 52px;
	padding-right: 52px;
	padding-top: 18px;
	padding-bottom: 18px;
	color: #ffffff;
	font-family: "SF UI Display", sans-serif;
	border: 1px solid $orange;
	cursor: pointer;
}