.page-header {
	padding-left: 335px;
	padding-right: 335px;
	padding-top: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-header__telephone {
	font-weight: bold;
}